<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>
  <h1>{{this.userName}} from BridgeLabz</h1>
  <!-- click event -->
  <img [src]="imgUrl" (click)="onClick($event)" 
  alt="The BridggeLabz logo: aBridge to Employment through a Lab works."
  />

</div>

<div>
  <input (input)="onInput($event)" [(ngModel)]="userName" /> 
  <span class=error-output>{{this.nameError}}</span>
</div>
<router-outlet></router-outlet>